* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --color-bg: #F2F2F2;
  --color-text: #000000;
  --color-text2: #ffffff;
  --color-active: #0afff3;
  --color-background: #1a1a1a;
  --color-ux: #F2F2F2;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-background);
}

header {
   /* top | right | bottom | left */
  margin: 100px 100px 0px 100px;
  position: relative;
  z-index: 7;
  left: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: var(--color-bg);
  padding: 2rem 0;
  text-align: center;
  border-radius: 60px;
  width: 1424px;
  height: 50px;
  a {
    color: var(--color-text);
    text-decoration: none;
    padding: 0 1rem;
    &:hover {
      text-decoration: underline;
    }
  }
  .logo{
    width: 59px;
    height: 48px;
    padding: 83;
  }
  .pos{
    position: absolute;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(6, 1fr);
    bottom: 5px;
  }
}



footer{
  background-color: var(--color-bg);
  height: 3vmax;
  color: var(--color-text) ;
  z-index: 7;
}

h1{
  text-align: center;
  margin-top: 0;
  color: var(--color-text2);
}

main {
  min-height: 100vh;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  a {
    text-decoration: none;
    color: var(--color-bg);
    &:hover {
      text-decoration: underline;
    }
  }
}


/* остальные стили */


.container {
  max-width: 900px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
}

.active {
  color: var(--color-active);
  cursor: default;
}

form {
  display: flex;
  justify-content: center;
  button {
    background-color: var(--color-active);
    cursor: pointer;
    color: var(--color-text);
    border: none;
  }
}


input[type="search"] {
  padding: 0.5rem 1rem;
  color: var(--color-bg);
}

.block1{
  
  position: absolute;
  height: 1114px ;
  top: 0px;
  z-index: 3;
  .background{
    width: 1855px;
    height: 84%;
    object-fit: cover;
  }
  .button{
    position: absolute;
    color: var(--color-ux);
    width: 100px;
    height: 100px;
    left: 50vw;
    bottom: 50px;
  }
}

.item{
  min-height: 40rem ;
  min-width: 1000px;
  padding: 40px;
  img{
    width: 100%;
    height: 100%;
    border-radius: 2rem;
  }
}

.carousel{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center; 
  height: 1114px ;
  margin-top: 78vh;
  z-index: 3;
  cursor: grab;
  overflow: hidden;
  .inner-carousel{
    display: flex;
  }
}

.pos2{
  display: grid;
  align-items: center;
  justify-content: center;
  margin-bottom: 300px;
}

.css-25q7vw-MuiResponsiveChart-container{
  position: relative;
  left: 35vw;
}

.container-tarif{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}
.pos4{
  margin-top: 50px;
}